//font URL
@import url('https://stijndv.com/fonts/Eudoxus-Sans.css');


//font family
$font-endoxus: 'Eudoxus Sans', sans-serif;
$font-family-base: $font-endoxus;

//font weights

// Demi == semibold
// Geo Bold == bold
// Geo Light == Normal

$font-normal: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-heavy: 800;
$font-extra-bold: 900;

//font-sizes
$font-base-size: 18px;
$font-base-line-height: 32px;

//colors
$white: #ffffff;
$gray-100: #f8f9fa;
$gray-200: #E8E8EF;
$gray-300: #F9F9F9;
$gray-400: #C1C1C1;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #2A2A2A;
$black: #000000;
$blue: #097af3;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #C13B95;
$red: #dc3545;
$orange: #FFB23F;
$yellow: #FFBA4A;
$green: #518581;
$teal: #20c997;
$cyan: #17a2b8;

$dark-blue: #304B78;
$dark-pink: #C13B95;
$dark-cyan:#003E52;
$light-blue: #F4F4F7;
$dark-blue-100: #004271;
$dark-blue-300: #252568;
$pure-red: #FF0000;
$dark-gray: #AFADB5;
$light-grayish-orange: #ECE4DE;
$dark-black: #151411;
$light-gray-100: #f3f3f3;

$primary: $green;
$secondary: $orange;
$tertiary: $dark-gray;

//body background

$body-background: $white !default;
$body-color: $dark-gray;


//No need for x-tra small since mobile-first will take care of that

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px !default;
$screen-xs-max: 575.98px !default;

// Small tablets (portrait view)
$screen-md-min: 768px !default;
$screen-sm-max: 767.98px !default;

// Tablets and small desktops
$screen-lg-min: 992px !default;
$screen-md-max: 991.98px !default;

// Large tablets and desktops
$screen-xl-min: 1200px !default;
$screen-lg-max: 1199.98px !default;

// Desktop
$screen-xxl-min: 1440px;
$screen-xl-max: 1439.98px;

//container max width
$container-max-widths-sm: 540px !default;
$container-max-widths-md: 720px !default;
$container-max-widths-lg: 960px !default;
$container-max-widths-xl: 1140px !default;
$container-max-widths-xxl: 1288px;

//container padding
$container-padding: 0 24px;