@import "../../sass/breakpoints";
@import "../../sass/variables";

.btn {
  display: inline-block;
  background-color: $black;
  max-width: 170px;
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  text-transform: capitalize;
  padding: 12px 15px;
  color: $white;
  cursor: pointer;
  transition: all 0.35s;
  border: 1px solid transparent;
  text-decoration: none;

  &:hover {
    background-color: $white;
    color: $black;
    border-color: $black;
  }

  &.btn-primary {
    background-color: $primary;

    &:hover {
      border-color: $primary;
      background-color: $white;
      color: $primary;
    }
  }

  &.btn-secondary {
    background-color: $secondary;

    &:hover {
      border-color: $secondary;
      background-color: $white;
      color: $secondary;
    }
  }

  &.has-icon {
    position: relative;
    padding-right: 40px;

    &:hover {
      svg {
        path {
          &:first-child {
            fill: $secondary;
          }

          &:last-child {
            fill: $secondary;
          }
        }
      }
    }

    svg {
      position: absolute;
      top: 20px;
      right: 15px;
    }
  }
}