@import "../../sass/breakpoints";
@import "../../sass/variables";


.box-service{
    &__content{
        margin-bottom: 20px;
        h2{
            color: #518581;
        }
        p{
            font-weight: bold;
            color: $black;
        }
        @include xl {
          margin-bottom: 30px;
        }
    }

}