@import "../../../sass/breakpoints";
@import "../../../sass/variables";

.card-product {
    background-color: $white;
    max-width: 390px;

    &__media {
        width: 100%;
        margin-bottom: 14px;

        @include lg {
            margin-bottom: 26px;
        }

        img {
            width: 100%;
            object-fit: cover;
            height: 240px;

            @include md {
                height: 280px;
            }

            @include lg {
                height: 300px;
            }

            @include xl {
                height: 360px;
            }
        }
    }

    &__content {
        .tag {
            display: inline-block;
            margin-bottom: 14px;
            font-size: 12px;
            line-height: 18px;

            @include md {
                font-size: 15px;
                line-height: 22px;

            }

            @include lg {
                font-size: 18px;
                line-height: 24px;

            }
        }

        .title {}
    }

}