@import "../sass/breakpoints";
@import "../sass/variables";


.block-services{
    .block-content{
        margin-bottom: 100px;
        @include md{
            margin-bottom: 130px;
        }
        @include lg{
            margin-bottom: 150px;
        }
        @include xl{
            margin-bottom: 180px;
        }
        .services-box{
            margin-bottom: 20px;
            @include xl{
                margin-bottom: 30px;
            }
        }
    }
}